.background-wrapper--promo {
    background-color: @basic-green;
}

.background-wrapper--example {
    background-color: #EAEAEA;
}

@media (min-width: @tablet-width) {
    .background-wrapper--promo {
        background-color: transparent;
    }
}