.background-wrapper--promo {
    background-color: @basic-green;
    background-image: url("../../img/jpg/index-background-mobile@1x.jpg");
    background-position: center center;
    background-repeat: no-repeat;
}

.background-wrapper--example {
    background-color: #EAEAEA;
}

@media (min-width: @tablet-width) {
    .background-wrapper--promo {
        background-color: transparent;
        background-image: none;
    }
}