.btn {
  display: block;
  margin: 0 auto;
  padding: 20px 109px;
  min-width: 280px;
  font-size: 14px;
  text-align: center;
  text-transform: uppercase;
  color: #ffffff;
  background-color: @basic-green;

  &:hover {
    background-color: #5eaa2f;
  }

  &:active {
    color: rgba(#ffffff, 0.3);
  }

  &--all {
    color: #444444;
    background-color: @basic-grey;

    &:hover {
      background-color: #ebebeb;
    }

    &:active {
      color: rgba(#444444, 0.3);
    }
  }
}
