.container {
  margin: 0 auto;
  padding-right: 20px;
  padding-left: 20px;
  min-width: 320px;
  max-width: 540px;

  &--promo {
    position: relative;
  }

  &--footer-contacts,
  &--footer-info {
    background-color: #f2f2f2;
  }
}

@media (min-width: @tablet-width) {
  .container {
    padding-right: 30px;
    padding-left: 30px;
    max-width: 1024px;
  }
}

@media (min-width: @desktop-width) {
  .container {
    padding-right: 110px;
    padding-left: 110px;
    max-width: 1440px;
  }
}
