.example__title {
  margin: 0;
  margin-bottom: 33px;
  padding-top: 27px;
  font-size: 36px;
  line-height: 40px;
}

.example__info {
  margin: 0;
  margin-bottom: 25px;
  font-family: Arial;
  font-size: 14px;
  line-height: 18px;
  color: #444444;
}

.example-result__list {
  display: flex;
  padding: 0;
  list-style: none;
}

.example-result__item {
  position: relative;

  &:not(:last-child) {
    margin-right: 31px;
  }
}

.example-result__info {
  padding-top: 15px;
  padding-right: 24px;
  padding-bottom: 17px;
  padding-left: 24px;
  width: 124px;
  font-size: 24px;
  line-height: 24px;
  text-align: center;
  border: 1px solid #cdcdcd;
  border-radius: 3px;

  &::after {
    position: absolute;
    margin: 0 auto;
    right: 0;
    left: 0;
    top: 73px;
    max-width: 77px;
    font-family: "Arial";
    font-size: 12px;
    line-height: 12px;
    background-color: #eaeaea;
  }

  .example-result__item:nth-child(1) &::after {
    content: "снижение веса";
  }

  .example-result__item:nth-child(2) &::after {
    content: "затрачено времени";
  }
}

.example-result__costs {
  font-size: 14px;
  line-height: 20px;
  text-align: center;
  text-transform: uppercase;
}


@media (min-width: @tablet-width) {
  .example__title {
    font-size: 60px;
    line-height: 60px;
  }

  .example__info {
    font-size: 16px;
    line-height: 24px;
  }

  .example-result {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin-bottom: 280px;
  }

  .example-result__info {
    padding-right: 24px;
    padding-bottom: 30px;
    padding-left: 24px;
    font-size: 30px;
    line-height: 37px;

    &::after {
      top: 83px;
      max-width: 77px;
      font-size: 14px;
      line-height: 14px;
      background-color: #eaeaea;
    }

    .example-result__item:nth-child(1) &::after {
      content: "снижение веса";
    }

    .example-result__item:nth-child(2) &::after {
      content: "затрачено времени";
    }
  }

  .example-result__costs {
    align-self: center;
    grid-column-start: 2;
    grid-column-end: -1;
  }
}

@media (min-width: @desktop-width) {
  .example {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }

  .example__title {
    margin-bottom: 146px;
  }

  .example__info {
    grid-column-start: 1;
    grid-column-end: 2;
  }

  .example-result {
    grid-column-start: 1;
    grid-column-end: 2;
  }
}
