.example {
  padding-top: 27px;
  padding-bottom: 36px;
}

.example__title {
  margin: 0;
  margin-bottom: 33px;
  font-size: 36px;
  font-weight: normal;
  line-height: 40px;
}

.example__info {
  margin: 0;
  width: 99%;
  font-family: @add-font;
  font-size: 14px;
  line-height: 18px;
  color: #444444;
}

.example-result__list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 0;
  margin-bottom: 9px;
  padding: 0;
  list-style: none;
}

.example-result__item {
  position: relative;

  &:not(:last-child) {
    margin-right: 31px;
  }
}

.example-result__info {
  padding-top: 15px;
  padding-right: 20px;
  padding-bottom: 17px;
  padding-left: 20px;
  width: 124px;
  font-size: 24px;
  line-height: 24px;
  text-align: center;
  text-transform: uppercase;
  border: 1px solid #cdcdcd;
  border-radius: 3px;

  &::after {
    position: absolute;
    margin: 0 auto;
    right: 0;
    left: 0;
    top: 73px;
    max-width: 77px;
    font-family: @add-font;
    font-size: 12px;
    line-height: 12px;
    text-transform: lowercase;
    background-color: #eaeaea;
  }

  .example-result__item:nth-child(1) &::after {
    content: "снижение веса";
  }

  .example-result__item:nth-child(2) &::after {
    content: "затрачено времени";
  }
}

.example-result__costs {
  margin: 0;
  margin-bottom: 22px;
  font-size: 14px;
  line-height: 20px;
  text-align: center;
  text-transform: uppercase;
}

.example__slide {
  display: none;
  position: relative;
  top: 13px;
  left: -20px;
  margin: 0 auto;
  margin-bottom: 44px;
  max-width: 320px;

  &--current {
    display: block;
  }
}

.example__slider-controls {
  display: flex;
  justify-content: center;
  align-items: center;
}

@media (min-width: @tablet-width) {
  .example {
    padding-bottom: 68px;
  }

  .example-result {
    display: grid;
    grid-template-columns: auto 1fr;
    margin-bottom: 35px;
  }

  .example__title {
    margin-bottom: 64px;
    font-size: 60px;
    line-height: 60px;
  }

  .example__info {
    margin-bottom: 24px;
    width: 700px;
    font-size: 16px;
    line-height: 24px;
  }

  .example-result__info {
    padding-right: 24px;
    padding-bottom: 18px;
    padding-left: 24px;
    width: 162px;
    font-size: 30px;
    line-height: 37px;

    &::after {
      top: 93px;
      max-width: 140px;
      font-size: 14px;
      line-height: 14px;
      background-color: #ffffff;
    }
  }

  .example-result__item {
    &:not(:last-child) {
      margin-right: 42px;
    }
  }

  .example-result__costs {
    grid-column-start: 2;
    grid-column-end: -1;
    margin-top: 36px;
    margin-left: auto;
    font-size: 20px;
    line-height: 29px;
    text-align: right;
    width: 174px;
  }

  .example__slider {
    height: 575px;
    position: relative;
  }

  .example__slide {
    position: absolute;
    display: block;
    margin-bottom: 28px;
    left: 15px;
    max-width: 690px;

    &--before {
      clip-path: polygon(0% 0%, 49% 0%, 49% 100%, 0% 100%);
    }

    &--after {
      clip-path: polygon(49% 0%, 100% 0%, 100% 100%, 49% 100%);
    }
  }

  .example__slider-controls {
    position: absolute;
    bottom: 0;
    left: 61px;
  }
}

@media (min-width: @desktop-width) {
  .example {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto auto auto;
    padding-top: 0;
  }

  .example__title {
    margin-top: 44px;
    margin-bottom: 0;
  }

  .example__info {
    grid-column-start: 1;
    grid-column-end: 2;
    margin-top: 141px;
    margin-bottom: 0;
    width: 435px;
  }

  .example-result {
    margin-top: 30px;
    margin-bottom: 0;
    grid-column-start: 1;
    grid-column-end: 2;
  }

  .example-result__info {
    margin: 0;

    &::after {
      top: 63px;
      background-color: #f2f2f2;
    }
  }

  .example-result__costs {
    grid-column-start: 1;
    grid-column-end: 2;
    margin: 0;
    margin-top: 50px;
    width: 400px;
    text-align: left;
  }

  .example-result__costs-amount {
    margin-left: 59px;
  }

  .example-result__list {
    justify-content: flex-start;
    margin-top: 33px;
    margin-bottom: 0;
  }

  .example__slider {
    grid-column-start: 2;
    grid-column-end: -1;
    grid-row-start: 1;
    grid-row-end: -1;
    align-self: center;
  }

  .example__slider-controls {
    left: 31px;
  }

  .example__slide {
    top: -8px;
    left: -40px;
    max-width: 690px;

    &--before {
      clip-path: polygon(0% 0%, 53% 0%, 53% 100%, 0% 100%);
    }

    &--after {
      clip-path: polygon(53% 0%, 100% 0%, 100% 100%, 53% 100%);
    }
  }
}
