@media (min-width: @tablet-width) {
  .extra-option-list {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
}

@media (min-width: @desktop-width) {
  .extra-option-list {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
}
