.extra-product__title {
  margin: 0;
  margin-bottom: 13px;
  font-size: 16px;
  line-height: 16px;
  text-align: left;
  text-transform: uppercase;
  color: #222222;
}

.extra-product__data {
  margin-bottom: 15px;
  width: 100%;
  font-size: 14px;
  color: #444444;
}

.extra-product__cell:last-child {
  text-align: right;
}

@media (min-width: @tablet-width) {
  .extra-product {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
  }

  .extra-product__data {
    grid-column-start: 3;
    grid-column-end: -1;
  }

  .extra-product__cell:first-child {
    text-align: right;
  }

  .extra-product__order {
    grid-column-start: 1;
    grid-column-end: -1;
    padding: 7px 220px;
    width: 100%;
  }
}

@media (min-width: @desktop-width) {
  .extra-product__data {
    grid-column-start: 2;
    grid-column-end: 3;
  }

  .extra-product__cell:first-child {
    width: 200px;
    text-align: left;
  }

  .extra-product__cell:last-child {
    text-align: left;
  }

  .extra-product__order {
    grid-column-start: 3;
    grid-column-end: -1;
    padding: 7px 26px;
    width: 240px;
  }
}
