.extra-goods {
  margin-bottom: 79px;
}

.extra-goods__list {
  margin-bottom: 39px;
  padding: 0;
}

.extra-goods__item {
  margin-bottom: 13px;
  padding-bottom: 19px;
  list-style: none;
  border-bottom: 1px solid #cdcdcd;
}

.extra-goods__title {
  position: relative;
  margin: 0;
  margin-bottom: 48px;
  width: 250px;
  font-size: 24px;
  font-weight: normal;
  line-height: 24px;
  background-color: #ffffff;

  &::before,
  &::after {
    position: absolute;
    content: "";
    width: 100vw;
    height: 2px;
    top: 50%;
    background-color: @basic-green;
    z-index: -1;
  }
}

.extra-goods__profit {
  position: relative;
  margin: 0 auto;
  width: 165px;
  padding-top: 186px;
  font-family: @add-font;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  color: #ffffff;

  &::before {
    position: absolute;
    content: "";
    top: 64px;
    left: 54px;
    width: 56px;
    height: 60px;
    background-image: url("../img/svg/icon-gift.svg");
  }

  &::after {
    position: absolute;
    content: "";
    top: 0;
    left: -59px;
    width: 280px;
    height: 289px;
    background-color: @basic-green;
    background-image: url("../img/jpg/gift-photo-mobile@1x.jpg");
    z-index: -1;
  }
}

@media (min-width: @tablet-width) {
  .extra-goods {
    margin-bottom: 145px;
  }

  .extra-goods__title {
    margin-bottom: 81px;
    padding-left: 37px;
    width: 411px;
    font-size: 36px;
    line-height: 36px;


    &::before,
    &::after {
      top: 61%;
    }

    &::after {
      right: 0;
    }
  }

  .extra-goods__list {
    margin-bottom: 69px;
    padding: 0;
  }

  .extra-goods__item {
    margin: 0;
    padding: 25.4px 38px;
    border: 1px solid #cdcdcd;
  }

  .extra-goods__profit {
    margin-left: 60%;
    padding-top: 72px;
    font-size: 16px;
    line-height: 20px;
    text-align: left;

    &::before {
      left: -335px;
    }

    &::after {
      left: -425px;
      width: 708px;
      height: 200px;
      background-image: url("../img/jpg/gift-photo-tablet@1x.jpg");
    }
  }
}

@media (min-width: @desktop-width) {
  .extra-goods {
    margin-bottom: 85px;
  }

  .extra-goods__title {
    margin-bottom: 69px;
    padding: 0;
    width: 373px;

    &::before,
    &::after {
      top: 69%;
    }

    &::after {
      margin-right: 420px;
    }
  }

  .extra-goods__wrapper {
    display: flex;
  }

  .extra-goods__list {
    margin-bottom: 0;
    width: 73.4%;
  }

  .extra-goods__item {
    margin-top: -1px;
    padding-top: 15px;
    padding-right: 0;
    padding-bottom: 16px;
    padding-left: 0;
    border-right: none;
    border-left: none;
  }

  .extra-goods__profit {
    margin: 0;
    margin-left: 119px;
    padding-top: 201px;
    text-align: center;

    &::before {
      left: 57px;
      top: 78px;
    }

    &::after {
      top: 14px;
      left: -39px;
      width: 245px;
      height: 289px;
      background-image: url("../img/jpg/gift-photo-desktop@1x.jpg");
    }
  }
}
