.footer-info {
  text-align: center;
}

.footer-info__logo {
  display: block;
  margin-bottom: 21px;
  padding-bottom: 31px;
  border-bottom: 1px solid #D9D9D9;
}

.footer-info__social {
  margin-bottom: 13px;
  padding-bottom: 16px;
  border-bottom: 1px solid #D9D9D9;
}

@media (min-width: @tablet-width) {
  .footer-info {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .footer-info__logo,
  .footer-info__social {
    margin: 0;
    padding: 0;
    border-bottom: none;
  }

  .footer-info__social {
    margin-left: 30px;
    align-self: flex-start;
  }

  .footer-info__developer {
    margin-top: -5px;
  }
}
