.pattern {
  padding-top: 30px;
  padding-right: 33px;
  padding-bottom: 18px;
  padding-left: 20px;
}

.pattern__title {
  position: relative;
  margin: 0;
  margin-bottom: 29px;
  padding-left: 76px;
  font-size: 24px;
  font-weight: normal;
  line-height: 37px;

  &::after {
    position: absolute;
    content: "";
    top: 0px;
    left: 10px;
    width: 50px;
    height: 50px;
    z-index: 2;
    background-color: @basic-green;
    border-radius: 50%;
  }

  &::before {
    position: absolute;
    content: "";
    top: -5px;
    left: 15px;
    z-index: 3;
  }

  .proposal__item:nth-child(2) &::before {
    top: 10px;
    left: 2px;
  }
}

.pattern__info {
  margin-top: 0;
  margin-bottom: 38px;
  padding-bottom: 23px;
  font-family: @add-font;
  font-size: 14px;
  line-height: 18px;
  color: #444444;
  border-bottom: 1px solid #d9d9d9;
}

.pattern__link {
  position: relative;
  display: block;
  font-size: 16px;
  line-height: 16px;
  text-transform: uppercase;
  color: #000000;

  &::after {
    position: absolute;
    content: "";
    top: 4px;
    left: 120px;
    width: 20px;
    height: 9px;
    background-image: url(../img/svg/icon-right-arrow-long.svg);
  }
}

@media (min-width: @tablet-width) {
  .pattern {
    padding-top: 77px;
    padding-right: 33px;
    padding-bottom: 53px;
    padding-left: 55px;
  }

  .pattern__title {
    padding-left: 0px;
    font-size: 36px;
    line-height: 36px;

    &::before,
    &::after {
      width: 200px;
      height: 200px;
      left: 400px;
    }

    .proposal__item:nth-child(2) &::before {
      top: 50px;
      left: 370px;
    }
  }

  .pattern__info {
    width: 370px;
    font-size: 16px;
    line-height: 24px;
    border: none;
  }

  .pattern__link {
    font-size: 20px;
    line-height: 30px;

    &::after {
      top: 10px;
      left: 120px;
      width: 20px;
      height: 9px;
      background-image: url(../img/svg/icon-right-arrow-long.svg);
    }
  }
}

@media (min-width: @desktop-width) {
  .pattern__title {
    padding-bottom: 73px;
    padding-left: 160px;
    font-size: 36px;
    line-height: 36px;

    &::before,
    &::after {
      width: 100px;
      height: 100px;
      top: -30px;
      left: 0px;
    }

    .proposal__item:nth-child(2) &::before {
      top: 0;
      left: -15px;
    }
  }

  .pattern__info {
    max-width: 445px;
  }
}
