.pattern__title {
  font-size: 24px;
  line-height: 37px;
}

.pattern__info {
  font-family: Arial;
  font-size: 14px;
  line-height: 18px;
  color: #444444;
}

.pattern__link {
  font-size: 16px;
  line-height: 16px;
  text-transform: uppercase;
  color: #000000;
}

.pattern__title::before {
  position: absolute;
  content: "";
  top: 10px;
  left: 0px;
  z-index: 3;
}

.pattern__title::after {
  position: absolute;
  content: "";
  top: 10px;
  left: 0px;
  width: 50px;
  height: 50px;
  z-index: 2;
  background-color: @basic-green;
  border-radius: 50%;
}

@media (min-width: @tablet-width) {
  .pattern__title::before {
    left: 500px;
  }
  .pattern__title::after {
    left: 500px;
  }

}
