.product {
  position: relative;
}

.product__img {
  position: absolute;
  top: -10%;
  left: -10%;
  width: 50%;
  z-index: -1;
}

.product__title {
  margin: 0 auto;
  width: 80px;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  color: #222222;
}

.product__data {
  margin: 0 auto;
  font-size: 12px;
  color: #444444;
}

.product__more {
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  color: #111111;
}

.product__info {
  font-family: "Arial";
  font-size: 12px;
  line-height: 16px;
  color: #444444;
}
