.promo {
  position: relative;
  margin-bottom: 137px;
  min-height: 305px;
}

.promo__title {
  margin: 0;
  margin-bottom: 25px;
  padding-top: 27px;
  text-align: center;
  font-size: 36px;
  font-weight: normal;
  line-height: 36px;
  color: #ffffff;
}

.promo__slogan {
  position: relative;
  margin: 0;
  text-align: center;
  text-transform: uppercase;
  font-size: 14px;
  line-height: 14px;
  color: #ffffff;
}

.promo__img {
  position: absolute;
  margin: auto;
  top: 168px;
  right: 0;
  left: 0;
  max-width: 280px;
}

@media (min-width: @tablet-width) {
  .promo {
    margin-left: 87px;
    margin-bottom: 628px;
    min-height: auto;
    background-image: none;
  }

  .promo__title {
    margin-bottom: 41px;
    max-width: 470px;
    font-size: 60px;
    line-height: 60px;
    color: #000000;
    text-align: left;
  }

  .promo__slogan {
    margin: 0;
    font-size: 20px;
    line-height: 20px;
    color: #000000;
    text-align: left;
  }

  .promo__img {
    position: absolute;
    top: 228px;
    left: -88px;
    max-width: 709px;
  }
}

@media (min-width: @desktop-width) {
  .promo {
    margin-bottom: 372px;
    margin-left: 80px;
  }

  .promo__img {
    position: absolute;
    top: -56px;
    left: 146px;
    max-width: 709px;
  }
}
