.promo {
  position: relative;
  background-color: @basic-green;
  background-image: url("../../img/jpg/index-background-mobile@1x.jpg");
  background-position: center center;
  background-repeat: no-repeat;
}

.promo__title {
  font-size: 36px;
  line-height: 36px;
  color: #ffffff;
}

.promo__slogan {
  padding-bottom: 200px;
  font-size: 14px;
  line-height: 14px;
  color: #ffffff;
}

.promo__slogan::after {
  position: absolute;
  content: "";
  width: 280px;
  height: 271px;
  top: 150px;
  background-image: url("../../img/png/index-can-mobile@1x.png");
}
