.proposal {
  margin-bottom: 27px;
}

.proposal__list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.proposal__link {
  margin-bottom: 22px;
  padding-left: 61px;
  padding-right: 51px;
}

.proposal__item {
  margin-bottom: 20px;
  background-color: @basic-grey;
  z-index: 1;

  &:last-child {
    margin: 0;
  }

  &:nth-child(1) .pattern__title::before {
    width: 36px;
    height: 50px;
    background-image: url(../img/svg/icon-cat-slim.svg);
    background-repeat: no-repeat;
  }

  &:nth-child(2) .pattern__title::before {
    width: 67px;
    height: 28px;
    background-image: url(../img/svg/icon-cat-pro.svg);
    background-repeat: no-repeat;
  }
}

@media (min-width:@tablet-width) {
  .proposal {
    position: relative;
  }

  .proposal__list {
    margin: 0 auto;
    width: 708px;
  }

  .proposal__link {
    position: absolute;
    top: -600px;
    left: 87px;
  }

  .proposal__item {
    margin-bottom: 30px;

    &:nth-child(1) .pattern__title::before {
      width: 140px;
      height: 192px;
    }
  
    &:nth-child(2) .pattern__title::before {
      width: 268px;
      height: 112px;
    }
  }
}

@media (min-width:@desktop-width) {
  .proposal__list {
    width: auto;
  }

  .proposal__link {
    position: absolute;
    top: -400px;
  }

  .proposal__list {
    display: flex;
    flex-wrap: wrap;
  }

  .proposal__item {
    margin: 0;
    flex-basis: 570px;

    &:nth-child(1) .pattern__title::before {
      width: 70px;
      height: 97px;
    }
  
    &:nth-child(2) .pattern__title::before {
      width: 134px;
      height: 56px;
    }
  }

  .proposal__item:nth-child(2n+1) {
    margin-right: 80px;
  }
}
