.selection__title {
  font-size: 36px;
  line-height: 36px;
}

.selection__text {
  font-size: 14px;
  line-height: 18px;
  text-transform: uppercase;
}

.selection__explanation {
  font-style: "Arial";
  font-size: 14px;
  line-height: 16px;
}
