.user-list__item {
  margin-bottom: 14px;
}

@media (min-width: @desktop-width) {
  .user-list {
    display: flex;
  }

  .user-list__item {
    &:nth-child(2n) {
      margin-left: 70px;
    }
  }
}
